*.bak
*.properties
src/ontology/MRIO-edit.properties
"MRIO 2021.owl"
MRIO2021_forjupyter.owl
"uberon gray matter import.owl"
src/MRIO.owl
src/ontology/*.csv
src/ontology/imports/*.old
src/ontology/MRIO-reasoned.owl
src/ontology/MRIO-individuals.owl
.archive/
src/ontology/mirror/mondo.owl
src/ontology/mirror/
src/ontology/mirror/*owl
src/ontology/tmp/*owl
venv/
